/* Imports a font face from google fonts (fonts.google.com)*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');


/* Changes the font family of all written content on the site */
h1, h2, h3, p {
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
}

a {
    font-family: 'Noto Sans', 'sans-serif';
    color: white;
    
}


/* Contains all the content to be centered on the page with a slight
border on both sides. */
.mainContainer {
    width: 90%;
    margin-left: 5%;
}

/* Sets the sidebar so it is only on the left side of the page. 
    The height is set so the border will run down the length of 
    the page, dividing the sidebar from the content */
#sidebar {
    width: 25%;
    margin: 3em 1em;
    padding-right: 50%;
    height: 85%;
    padding-right: 1%;
    display: block;
    position: fixed;
    border-right: 1px solid black;
}

/* Aligns the p tag of content in the sidebar to match
the width of the photo */
#sidebarContent {
    border: 1px solid black;
    width: 68%;
    margin-left: 17%;
}

/*Changes color of name on sidebar */
#name {
    color: #9FCEF0;
}

/* Centers the profile image on sidebar */
#sidebarImg {
    padding: 0 17%;
}

/* Changes the scroll bar on the right for the porjects. I found
how to do this from w3schools:
https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp
*/
/* ::-webkit-scrollbar {
    width: 5px;
} */

/*Container for all projects. Floats on the right side of the page
so the sidebar can be on the left. Has a slight margin on the top so
it is aligned with the sidebar */
.projectsDiv {
    margin-left: 35%;
    display: flex;
    align-items: right;
    justify-content: center;
    flex-direction: column;
}

/*Container for individial projects. Margin and padding used to space
them out on the page. Has a set height for right now, needs to be changed
so the size can adapt depending on how much is typed.*/
.projects {
    display: flex;
    justify-content: flex-end;
    max-width: 80%;
    align-items: left;
    padding: 10px;
    background-color: #9FCEF0;
    border: 4px solid white;
}

/*Class for the project title. Floats on the right so the image can
be on the left. Margins are used to space it to align with the image.
Along with this, it has a set width. Margin-bottom is used to get
the projectPara closer to the header.*/
.projectHeader {
    font-size: 25px;
    text-align: left;
}

/*Class for preview images of projects. Floats on the left; padding
used so it would have space. */
.projectPic {
    float: left;
    padding: 10px;
}

/*Class for the description of projects. Like the header, it's aligned
to the left so it can fit beside the image. Margin-top is used to it will
be closer to projectHeader */
.projectPara {
    font-size: 15px;
    text-align: left;
}