/* 
    Imports a font face from google fonts (fonts.google.com)
*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');


/* 
    Changes the font family of all written content on the site,
    as well as aligning it center 
*/
h1, h2, h3, p {
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
}
/* 
    Changes font family, and also changes the color of links
*/
a {
    font-family: 'Noto Sans', 'sans-serif';
    text-decoration: none;
    color: black;
}

/*
    When clicking on the link to project, the paragraph font
    color was turning red. This fixes that issue by turning the color white
    when clicked on
*/
a:active {
    color: white;
}

/* 
    Contains all the content to be centered on the page with a slight
    margin on both sides. 
*/
.mainContainer {
    width: 90%;
    margin-left: 5%;
}

/* 
    Sets the sidebar so it is only on the left side of the page. 
    The height is set so the border will run down the length of 
    the page, dividing the sidebar from the content 
*/
#sidebar {
    width: 25%;
    margin: 3em 1em;
    padding-right: 50%;
    height: 85%;
    padding-right: 1%;
    display: block;
    position: absolute;
    border: 1px solid black;
    /* border-right: 1px solid black; */
}

/* 
    Aligns the p tag of content in the sidebar to match
    the width of the photo 
*/
#sidebarContent {
    border: 1px solid black;
    width: 68%;
    position: relative;
    margin: 90% 20%;
}

/*
    Changes color of name on sidebar 
*/
#name {
    color: #9FCEF0;
}

/* 
    Centers the profile image on sidebar 
*/
#sidebarImg {
    padding: 0 17%;
    position: absolute;
}

/*
    Container for all projects. Using display: flex, the project 
    items will be displayed in a column format, and are aligned 
    on the right. In this way it changes the direction of the 
    div.  I used the website 'Interneting is Hard' as refrence for 
    using 'display: flex' in my CSS. The link is here: 
    https://internetingishard.com/html-and-css/flexbox/
*/
.projectsDiv {
    margin-left: 35%;
    display: flex;
    align-items: right;
    justify-content: center;
    flex-direction: column;
}

/*
    Container for individial projects. I also used display: flex
    here to align the items inside the project div. The items are 
    aligned on the left, but will be further adjusted later. The
    widths of the projects are fixed at 800px.
*/
.projects {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: left;
    padding: 10px 10px;
    padding-bottom: 20px;
    background-color: #9FCEF0;
    flex-direction: column;
    margin: 2% 0;
}

/* 
    Accidently discovered this when playing around with the a tag.
    When mouse hovers over the project, the padding will increase
    to show to the user that there is a clickable link there. 
    Also included a change in background color
*/
.projects:hover {
    background-color: #58B2F2;
    padding-top: 20px;
    padding-bottom: 30px;
}

/*
    Class for the project title. Text aligned on the left. Position
    is relative so it can be moved around on the page and be placed
    next to the preview image 
*/
.projectHeader {
    font-size: 25px;
    text-align: left;
    width: 50%;
    position: relative;
    margin-left: 15%;
    color: white;
}

/*
    Class for preview images of projects. Floats on the left; padding
    used so it would have space. Position is absolute so the image
    will not stretch or shrink when the page is moved 
*/
/* .projectPic {
    padding: 10px 10px;
    width: 100px;
    height: 100px;
    position: absolute;
    float: left;
} */


/* 
    Class for the date, which is displayed on the left of the project
    div. Floats on the left and has a bit of space between it and the 
    header, which it is aligned with. Getting rid of the text decoration
    gets rid of the bold to make sure the title is more clearly visable
*/
.date {
    font-size: 20px;
    text-decoration: none;
    padding: 10px 10px;
    position: absolute;
    float: left;
    color: #4B6170;
    margin-top: 1%;
}

/*
    Class for the description of projects. Like the header, it's aligned
    to the left so it can fit beside the image.  
*/
.projectPara {
    font-size: 15px;
    text-align: left;
    position: relative;
    margin-left: 15%;
}