form {
    /*Center form on page */
    margin: 0 auto;
    width: 400px;

    /* Border around the form - from exercise */
    /* border: 1px solid gray; */
    padding: 2em 2em 2em .5em;
    border-radius: 1em; 

    /* Added background color */
    background-color: #517F7E;
}

form div + div {
    margin-top: 1em;
}

label {
    /* All labels have the same size and are aligned */
    display: inline-block;
    width: 90px;
    text-align: right;
    font-family: sans-serif;
    font-size: 15px;
    color: white;
}

input, textarea {
    /* All fields have same font settings */
    font: 1em sans-serif;

    /* Same size to all text fields */
    width: 300px;
    box-sizing: border-box;

    /* Border to fields*/
    border: 1px solid white;
}

input:focus, textarea:focus {
    /* Gives a little highlight on active elements*/
    border-color: #000;
}

textarea {
    /* Aligns multiline text fields with their labels*/
    vertical-align: top;

    /* Gives room to type some text*/
    height: 5em;
}

.button {
    /* Aligns button with text fields*/
    padding-left: 90px;
}

button {
    /* Spaces out button to align with label and text fields
        Added more css for styling purposes*/
    margin-left: .5em;
    background-color: #B2645F;
    border: none;
    padding: 1em;
    color: white;
}