@import url('https://fonts.googleapis.com/css?family=Mako');

/*

    CSS ON EVERY PAGE

*/
.mainContent {
    width: 90%;
    margin: 0 5%;
    font-family: 'Mako', sans-serif;
    font-size: 18px;
}

nav {
    width: 100%;
    margin: 2% 0;
    padding: 1.5% 0;
}

a {
    text-decoration: none;
    font-size: 16px;
}

a:visited {
    color: black;
}

/* Used for headers on pages */
h3 {
    margin-left: 47%;
    color: #0C6B3B;
    font-size: 22px;
}

/* Used for elements that are next to each other; 
    on home and about pages */
.sideBySide {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 5% 0 5% 15%;
}

/* 


    NAV BAR


*/

/* Nav bar text color and spacing across page */
.navLink {
    color: #0C6B3B;
    padding: 25px 50px;
    margin: 2% 0;
}

/* Puts 'EM' in top left corner */
#logo {
    margin-right: 44%;
}

/* When mouse hovers over it, changes background color */
.navLink:hover {
    background-color: #0C6B3B;
    color: white;
}

/* When clicked, background color changes to show user they have clicked*/
.navLink:active {
    background-color: #DC655C;
    color: white;
}

/* 


    FOOTER


*/

/* Width, margin, and padding are the same here as the nav bar */
footer {
    width: 100%;
    margin: 2% 0;
    padding: 1.5% 0;

    height: 25px;

    background-color: lightgrey;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Words in footer, spaced out */
footer > p {
    padding: 0 50px;
}

/* Links in footer */
footer > a {
    color: black;
}


/* 

    HOME PAGE

*/

/* Code for info paragraph at top of home page */
.introPara {
    width: 80%;
    margin-left: 10%;
    font-size: 30px;
    color: #0C6B3B
}

/* Dividing line between home info and project preview */
hr {
    width: 30%;
    background-color: rgb(22, 165, 93);
}

/* Paragraph about project hilighted on home page*/
#aboutParaHome {
    width: 40%;
    font-size: 18px;
    color: black;
}

/* Class for slideshow on home page */
.slideShow {
    display: none;
}

/*                      


    PROJECTS PAGE 


*/                     

/* Nav for projects */
.projNav {
    width: 60%;
    margin: 2% 20%;
    padding: 1.5% 0;
}

/* links in project nav, for spacing */
.projLink {
    padding: 25px 50px;
    margin: 2% 0;
    color: black;
}

/* When hovering, text underlines and changes color */
.projLink:hover {
    color: #0C6B3B;
    text-decoration: underline;
}

/* Grid of images of projects aligned with flexbox */
.projectsGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

/* Image sizing and spacing for projects */
.projImg {
    width: 300px;
    margin: 2% 2%;
}

/* Suddle growing for hovering over images on projects page*/
.projImg:hover {
    transform: scale(1.1);
}

/* With link set as an image, resets the spacing */
.imgLink {
    margin: 0;
    padding: 0 20px;

}

/*

    ABOUT PAGE

*/

/* Sizing for images on about page */
.aboutImg {
    width: 50%;
    height: 50%;
}

/* Spacing for about paragraphs */
.aboutPara {
    width: 100%;
    font-size: 18px;
    color: black;
    margin: 0 3%;
}

/*


    PROJECT PAGES


*/

.backToProjLink {
    color: #0C6B3B;
    font-size: 18px;
}

.backToProjLink:visited {
    color: #0C6B3B;
}

.backToProjLink:hover {
    text-decoration: underline;
}

#vertical {
    margin-right: 5%;
    width: 70%;
    height: 70%;
}

#alumni {
    width: 85%;
    margin-left: 7.5%;
}

.underneathPara {
    width: 50%;
    margin-left: 30%;
}
