* {
    /* Changes so padding is applied to the constraints
    of the box size */
    box-sizing: border box;
    font-family: sans-serif;
}

#wrapper {
    /* Keeps size no matter what the size of screen is */
    max-width: 1000px;
    /* 0 - top and bottom, auto - left and right 
    Can also do margin: top, right, bottom, left (margin: 0 auto 0 auto) */
    margin: 0 auto;
}

p, li {
    font-size: 0.875em;
    line-height: 1.6;
}

.subhead {
    font-size: 80%;
    margin-top: 0;
    padding-top: 0;
}

h1, h2 {
    font-family: serif;
    border-bottom: 1px solid #a2a9b1;
    font-weight: normal;
    overflow: hidden;
}

h1 {
    margin-bottom: .2em
}

#infobox {
    text-align: center;
    width: 250px;
    border: 1px solid #a2a9b1;
    border-spacing: 3px;
    background-color: #f8f9fa;
    color: black;
    margin: 0.5em 0 0.5em 1em;
    padding: 0.2em;
    /* Float puts infobox on side of page.
    Takes element out of the flow of the layout and
    sticks it on the side. Everything that comes after it
    flows around it on the other side */
    float: right;
    clear: right;
    font-size: 75%;
}

#infobox img {
    /* Doesn't let it get any bigger than the 
    container which it's in.
    If you specify height, make sure you 
    have the proper aspect ration. Easier to
    only set one because CSS will scale is 
    proportionally */
    max-width: 100%;
}

#infobox th, #infobox td {
    vertical-align: top;
    text-align: left;
    padding-top: 2px;
}

a {
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid;
}

/* Finds every link on the page that starts
with http, that do not go to wikipedia have
this link after the element */
a[href^="http"]:after {
    /* Attribute selector.
    Small icon after link added here.
    Most of code is from Font Awesome, 
    except padding and font size.
    This is where the icon is from. Every image
    is a seperate request to a server. Font Awesome sends
    one request. Want to reduce server calls as much as possible.*/
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f35d";

    padding-left: 3px;
    font-size: 90%;
}

/* If the href attribute starts with this, 
then there won't be an icon after the link 
Wikipedia actually has https */
a[href^="https://en.wikipedia"]:after {
    content: none;
}