/*********************************
General Formatting (Do Not Change)
*********************************/

* {
    box-sizing: border-box;
}

html {
    /* sets base font size for rem sizing */
    font-size: 16px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

header,
footer {
    background-color: #86af49;
}

nav,
aside,
article {
    padding: .5rem;
}

nav, aside {
    background-color: #b5e7a0;
}


/**************
Your Formatting
***************/

#wrapper {
    /* Sets up grid */
    display: grid;
    /* Takes up 100% of viewport width */
    width: 100vw;
    /* Uses all of the horizontal space */
    height: 100vh;
    /* Order of elements in row */
    grid-template-areas: "header" "sidenav" "article" "sidebar" "footer";
}

header {
    /* sets grid area name
    uses flexbox to center element on page */
    grid-area: header;
    display: flex;
    justify-content: center;
}

nav {
    /* sets grid area name */
    grid-area: sidenav;
}

article {
    /* sets grid area name*/
    grid-area: article;
}

aside {
    /* sets grid area name */
    grid-area: sidebar;
}

footer {
    /* sets grid area name
    uses flex to center elements on page */
    grid-area: footer;
    display: flex;
    justify-content: center;
}

.menuitem {
    /* sets background color to white
    removes margins
    and adds border */
    background-color: white;
    margin: 0;
    border-top: 1px solid #b5e7a0;
}

.submenu {
    /* removes bullet points
    removes margin and padding
    is hidden */
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}

li {
    /* sets padding on the left
    changes background color */
    padding-left: .25rem;
    background-color: lightgrey;
}

@media screen and (min-width: 760px) {
    /* When screen is larger than 760 px */
    #wrapper {
        /* width of grid only takes up 90% of viewport width*/
        width: 90vw;
        /* Grid does not get larger than 1200px*/
        max-width: 1200px;
        /* min height takes up all of page*/
        min-height: 100vh;
        /* orders grid on page */
        grid-template-areas: "header header header" "sidebar article sidenav" 
        "footer footer footer";
        /* spacing for grid row and columns*/
        grid-template-rows: 4rem 1fr 3rem;
        grid-template-columns: 1fr 2fr 200px;
    }
} 